<template>
  <app-layout title="Edit Post">
    <template #header>
      <h2 class="text-xl font-semibold leading-tight text-gray-800">
        Edit Post
      </h2>
    </template>

    <div class="py-12">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="p-5 overflow-hidden bg-white shadow-xl sm:rounded-lg">
          <Form :post="$attrs.post" />
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
	import AppLayout from '@/Layouts/AppLayout.vue'
	import Form from './Form.vue'

	export default {
		components: {
			AppLayout,
			Form,
		},
	}
</script>
