<template>
	<form @submit.prevent="submit">
		<div class="my-3">
			<div>
				<label for="title">Title</label>
				<Input v-model="form.title" />
			</div>
			<div class="mt-3">
				<label for="content">Content</label>
				<Textarea v-model="form.content" />
			</div>
			<div class="mt-5 space-x-1">
				<Button v-if="this.post">Update</Button>
				<Button v-else>Save</Button>
				<Button button="button" variant="danger">Cancel</Button>
			</div>
		</div>
	</form>
</template>

<script>
	import Button from '@/Jetstream/Button.vue'
	import Input from '@/Jetstream/Input.vue'
	import Textarea from '@/Jetstream/Textarea.vue'
	import get from 'lodash/get'
	
	export default {
		props: {
			post: {
				type: Object,
				default: () => {},
			},
		},

		components: {
			Input,
			Button,
			Textarea,
		},

		data () {
			return {
				form: {
					title: '',
					content: '',
				},
			}
		},

		created () {
			this.form = {
				title: get(this.post, 'title', ''),
				content: get(this.post, 'content', ''),
			}
		},

		methods: {
			submit () {
				if (this.post) {
					this.$inertia.put(`/posts/${this.post.id}`, this.form)
				} else {
					this.$inertia.post('/posts', this.form)
				}
			},
		},
	}
</script>
