<template>
	<div>
		<div class="flex m-5">
			<h3 class="text-2xl font-bold">Posts</h3>
			<Link
				href="/posts/create"
				class="items-center px-4 py-2 ml-auto text-xs font-semibold tracking-widest text-white uppercase transition bg-gray-800 border border-transparent rounded-md disabled:opacity-25 hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300"
			>
				Add Post
			</Link>
		</div>
		<Table :posts="$attrs.posts" />
	</div>
</template>

<script>
	import { Link } from '@inertiajs/inertia-vue3'
	import Button from '@/Jetstream/Button.vue'
	import Table from '@/Jetstream/Table.vue'
	
	export default {
		components: {
			Link,
			Button,
			Table,
		},
		data () {
			return {
				isAddPost: false,
			}
		},

		methods: {
			showAddPost () {
				this.isAddPost = true
			},
		},
	}
</script>
